a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: .75rem;

}
body{

  text-align: center;
color:#40514E;
font-family: 'Montserrat', sans-serif;

}
p{
  line-height: 2;
}
.top-container{
  background-color: #E4F5F9;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-bottom: 100px;

}
h1 {
  margin: 50px 0 auto 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
.h1{
  font-size: 5.625rem;

}
.para{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;


}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
color: #11999E;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;

top:50px;
right:300px;
}
.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.profile-pic{
  height:200px;
  width:200px;
border-radius: 50%;
}
.skill-row{
  width: 50%;
  display: inline-block;
  line-height: 2;
  text-align: left;
}
.code-img{
  float:left;
  margin-right: 30px;
}
.food-img{
  float:right;
  margin-left: 30px;

}
.intro{
  width: 30%;
  text-align: center;
margin: auto;}
hr{
  border-style:  none;
  border-top-style: dotted;
  border-color: #bbded6;
  border-width: 7px;
  width: 5%;
  margin: 100px auto;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color:#44c767;
	border-radius:8px;
	border:1px solid #11cdd4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}
